/* Taken from black7375/Firefox-UI-Fix @ v8.6.2 on GitHub */
/* @import 'uifix/userChrome.css'; */

/* BEGIN Tab Adjustments */
:root:not([uidensity=touch]) {
    --tab-min-height: 32px !important;
}

:root[uidensity=compact] {
    --tab-min-height: 28px !important;
}

.tabbrowser-tab[usercontextid] > .tab-stack > .tab-background > .tab-context-line {
    margin: -3px 6px 0 !important;
}

.tab-secondary-label {
    display: none !important;
}

/* Separate nav-bar from the window decoration */
#nav-bar {
    border-top: solid var(--chrome-content-separator-color) 1px !important;
}

/* END Tab Adjustments */

/* BEGIN Sidebar Adjustments */
#sidebar-header {
    font-size: 1em !important;
    padding: 6px !important;
    border-bottom: none !important;
    background-color: var(--toolbar-bgcolor);
}

#sidebar-header spacer, #sidebar-close {
    display: none !important;
}
/* END Sidebar Adjustments*/

/* BEGIN Sidebery stuff */
/* Hide tab bar when Sidebery is enabled */
#main-window #TabsToolbar {
  /*height: 29px !important;*/
  overflow: hidden;
  transition: height .3s .3s !important;
}
/* Using U+2061 "Function Application" character as the window preface */
#main-window[titlepreface*="⁡"] #TabsToolbar {
  /*height: 0 !important;*/
  display: none !important;
}
#main-window[titlepreface*="⁡"] #tabbrowser-tabs {
  z-index: 0 !important;
}
/* END Sidebery stuff */

/* BEGIN Popup Background Fix *//*
menupopup, panel {
    background-color: var(--lwt-toolbar-field-background-color) !important;
}
/* END Popup Background Fix */

/* BEGIN Disable Tab Bar */
/* Why have the tab bar at all when Tree Style Tab exists? 
 * This will show the bar again if the menubar is shown, so after you press LAlt.
 * That's in case you ever need it again.
 * TODO: do something to make this not apply if the #TabsToolbar is being used
 */
/*
#toolbar-menubar[inactive="true"] + #TabsToolbar {
	display: none;
}
*/
/* END Disable Tab Bar */

